/* https://github.com/mattermost/mattermost/blob/master/webapp/channels/src/sass/base/_typography.scss */
body, .app__body.font--open_sans {
    font-family: VazirmatnNL, 'Open Sans', sans-serif !important;
}
h1, h2, h3, .app__body h1, .app__body h2, .app__body h3 {
    font-family: VazirmatnNL, Metropolis, sans-serif !important;
}

/* https://github.com/mattermost/mattermost/blob/master/webapp/channels/src/sass/routes/_statistics.scss */
.team_statistics__message {
    font-family: VazirmatnNL, 'Open Sans', sans-serif !important;
}

/* https://github.com/mattermost/mattermost/blob/master/webapp/channels/src/sass/components/_post.scss */
.post-body__footer {
    font-family: VazirmatnNL, 'Open Sans', sans-serif !important;
}

/* https://github.com/mattermost/mattermost/blob/master/webapp/channels/src/sass/layout/_sidebar-right.scss */
.sidebar--right .sidebar--right__title {
    font-family: VazirmatnNL, Metropolis, sans-serif !important;
}
.sidebar--right .sidebar--right__title__channel, .sidebar--right .sidebar--right__title__subtitle {
    font-family: VazirmatnNL, 'Open Sans', sans-serif !important;
}

/* https://github.com/mattermost/mattermost/blob/master/webapp/channels/src/sass/layout/_headers.scss */
.channel-header .heading, .channel-intro .channel-intro-profile .user-popover, .team__header .team__name  {
    font-family: VazirmatnNL, Metropolis, sans-serif !important;
}
.app__body .channel-header__links {
    font-family: VazirmatnNL, 'Open Sans', sans-serif !important;
}

/* https://github.com/mattermost/mattermost/blob/master/webapp/channels/src/sass/layout/_sidebar-left.scss */
#SidebarContainer h1, #SidebarContainer h2, #SidebarContainer h3 {
    font-family: VazirmatnNL, 'Open Sans', sans-serif !important;
}
